@use 'sass:map';
@use 'mixins' as *;

.about-pic {
    border-radius: 10px;
    max-width: 16vw;
    max-height: 16vw;
    object-fit: cover;
    margin-left: 2rem;
  }
  
  .about-card {
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    background-color: var(--primary-color);
    border-radius: 8px;
    z-index: 1;
    @include card-hover();
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.9rem;
    background-color: var(--accent-color);
    border-radius: 5px 5px 0 0;
  }
  
  .header {
    border-radius: 5px;
  }
  title {
    width: 100%;
    display: flex;
    
  }
  #title2 {
    color: var(--light-text-color);
    padding-left: 30px;
    font-size: 17px;
    font-family: var(--pixel-font);
    width: 100%;

  }

  .symbols {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: auto;
    justify-content: end;

    & span {
      font-size: 1.1rem;
      color: var(--light-text-color);
      margin: 0 0.1rem;
      display: flex; 
      align-items: center; 
      height: 100%;

    }

    & :last-child {
      font-size: 1.3rem;
      margin-right: 0;
    }

  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    height: 55vh;
    padding: 3rem;
    background-color: var(--primary-color);
    border-radius: 0 0 5px 5px;
    text-align: left;
  }